<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <!-- directive to attach appropriae controler to html-->
  <!-- <controller name> as <alias> -->
  <body ng-controller="StoreController as store">

  <div ng-repeat="product in store.products | limitTo: 5 | orderBy:'-price'">
    <div ng-hide="product.soldOut">
      <h1>{{product.name}}</h1>
      <!-- "pipe" - send the output into -->
      <h2>{{product.price | currency}}</h2>

      <p>{{product.description}}</p>
      <img ng-src="{{product.images[0].full}}" />

      <ul class="img-thumbnails clearfix" ng-show="product.images.length">
        <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
          <img ng-src="{{image}}" />
        </li>
      </ul>

      <!-- will be false if not such property -->
      <button ng-show="store.product.canPurchase">Add to Cart</button>
    </div>
  </div>

    <!-- was correct when StoreController was in div, not in whole body:  -->
    <!-- <p>Does it work outside controller?: {{store.product.name}}: No! </p> -->

    {{'1300000000000' | date:'dd/mm/yyyy @ h:mma'}} <br>
    {{'yea, this is how pipe works' | uppercase}} <br>

    {{'some longish text' | limitTo:8}}

    <section ng-init="tab = 1">
      <ul class="nav nav-pills">
        <li> <a href ng-click="tab = 1">Description</a> </li>
        <li> <a href ng-click="tab = 2">Specificaions</a> </li>
        <li> <a href ng-click="tab = 3">Reviews</a> </li>
      </ul>
      {{tab}}
    </section>

    <div class="panel" ng-show="tab === 1">
      <h4>Description</h4>
      <p>{{product.description}}</p>
    </div>
    <div class="panel" ng-show="tab === 2">
      <h4>Specifications</h4>
      <blockquote>None yet</blockquote>
    </div>
    <div class="panel" ng-show="tab === 3">
      <h4>Reviews</h4>
      <blockquote>None yet</blockquote>
    </div>

  </body>
</html>
