@model IEnumerable<conference.Models.Comment>

<div id="comments">
    <h4>List of comments:</h4>
    <ul>
        @foreach (var comment in Model)
        {
            <li>@comment.Content</li>
        }
    </ul>
    <h4>Add new one:</h4>

    @*@using (Html.BeginForm("_Submit", "Comment", FormMethod.Post))*@
    @using (Ajax.BeginForm("_Submit", "Comment", new AjaxOptions() { UpdateTargetId = "comments" }))
    {
        @Html.AntiForgeryToken();
        @Html.Action("_CommentForm", new { SessionId = ViewBag.SessionId })
    }
</div>
