@*The directory name, \Views\Home, matches the controller - 
    which is named HomeController. 
    The view template name, Index, matches the controller action method 
    which will be displaying the view.*@

@{
    ViewBag.Title = "Index";
}

<h2>ok, this is the home page</h2>
