@model IEnumerable<conference.Models.Speaker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var speaker in Model)
{
    <h3>@speaker.Name</h3>
    @Html.Action("_GetForSpeaker", "Session", new { SpeakerId = speaker.SpeakerId })
}


